* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #FAF6ED;
  color: #222222;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
}

a:hover {
  color: #E54;
  transition: .3s;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 6rem minmax(30rem, 80rem) 1fr;
  gap: 8rem;
}

.grid-conteudo {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 9rem 30rem 1fr;
  padding: 0 1rem;
  gap: 4rem;
}

.titulo {
  grid-column: 1/4;
  font-family: 'Playfair Display SC', serif;
  font-size: 9rem;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1;
  padding-bottom: 2rem;
}

@media (max-width:800px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .grid-conteudo {
    grid-column: 1;
    grid-template-columns: 1fr;
    gap: 0;
  }

  .titulo {
    font-size: 4.4rem;
  }
}