.header-bg {
  grid-column: 3/5;
  background-color: #fb5;
  margin-top: 2rem;
}

.header-menu {
  display: flex;
  font-family: monospace;
  font-weight: bold;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  flex-wrap: wrap;
  position: relative;
}

.header-menu a {
  padding: 2rem;
  display: block;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  background-color: #E54;
  display: grid;
  padding: 1rem;
  border: 0.2rem solid #222222;
  top: 5rem;
  display: none;
}

.dropdown-menu a {
  padding: 1rem;
}

.dropdown-menu a:hover {
  color: #ffffff;
}

.dropdown-menu::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 1.2rem solid transparent;
  border-right: 1.2rem solid transparent;
  border-bottom: 1.2rem solid #E54;
  position: absolute;
  top: -1rem;
  left: 1rem;
}

[data-dropdown]:hover .dropdown-menu,
[data-dropdown].ativo .dropdown-menu {
  display: grid;
}

.menu-mobile {
  display: none;
}

@media (max-width:800px) {
  .header-bg {
    grid-column: 1;
    margin-top: 0;
  }

  .menu-mobile {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    background-color: #222222;
    padding: 0.8rem 1.2rem;
    border-radius: 0.4rem;
    color: #ffffff;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 1.6rem;
    margin: 1.2rem;
    position: relative;
    z-index: 400;
    cursor: pointer;
  }
  
  .menu-mobile::before {
    content: '';
    display: inline-block;
    width: 1.2rem;
    height: 0.2rem;
    background-color: #ffffff;
    box-shadow: 0 0.4rem #ffffff, 0 -0.4rem #ffffff;
  }

  .header-menu {
    display: none;
    max-width: 18rem;
    position: absolute;
    background-color: #fb5;
    box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, 0.2);
    top: 0;
    padding-top: 6rem;
    padding-bottom: 1.2rem;
  }
  .header-menu.ativo {
    display: block;
  }

  .header-menu a {
    padding: 1.2rem 6rem 1.2rem 1.2rem;
  }

  .dropdown-menu {
    display: block;
    position: static;
    border: none;
    padding: 0;
  }

  .dropdown-menu::before {
    display: none;
  }
}