html.aumentarTexto {
  font-size: 80%;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0rem;
  padding: 0rem;
  text-decoration: none;
  color: inherit;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

body {
  background-color: #FAF6ED;
  display: grid;
  grid-template-columns: 1fr 12rem minmax(30rem, 80rem) 1fr;
}

.menu {
  background-color: #FFBB55;
  grid-column: 3/5;
  margin-top: 4rem;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
}

.menu li a {
  display: block;
  padding: 2rem;
  font-family: monospace;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.grid-section {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 7rem 30rem 1fr;
  gap: 4rem;
  padding: 1rem;
}

.titulo {
  grid-column: 1/4;
  font-size: 9rem;
  font-family: 'Playfair Display SC';
  font-weight: normal;
  line-height: 9rem;
  padding-top: 4rem;
}

.animais-imagens {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 2rem;
}

.animais-imagens-thumb {
  display: flex;
  flex-wrap: wrap;
  max-height: 13.5%;
  gap: 0.8rem;
}

.animais-imagens-thumb img {
  display: flex;
  height: 70%; 
  object-fit: cover;
  object-position: 30%; 
  cursor: pointer;
}

.titulo-secundario {
  color: #EE5544;
  font-family: monospace;
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-size: 1.8rem;
  padding-bottom: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.titulo-secundario::before {
  content: '';
  display: inline-block;
  width: 4rem;
  height: 1rem;
  background-color: #FFBB55;
}

.animais-descricao p {
  padding-bottom: 1.6rem;
}

.js .animais-descricao section{
  display: none;
}

.animais-descricao section.ativo {
  display: block;
  animation: show .5s forwards;
}

.faq {
  margin-top: -20rem;
}

.faq dl {
  grid-column: 2/4;
}

.faq dt {
  color: #EE5544;
  font-family: monospace;
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-size: 1.8rem;
  padding-bottom: 0.8rem;
  padding-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.faq dt::before {
  content: '';
  display: inline-block;
  width: 2rem;
  height: 1rem;
  background-color: #FFBB55;
}

.faq dt::after {
  content: '→';
}

.faq dt.ativo::after {
  content: ' ↓';
}

.faq dd {
  padding-left: 3rem;
}

.js .js-faq dd {
  display: none;
}

.faq dd.ativo {
  display: block;
  animation: slideDown .5s forwards;
}

.js .js-scroll {
  opacity: 0;
  transform: translate3d(-3rem, 0, 0);
  transition: 0.3s;
}

.js .js-scroll.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 20rem;
  }
}

.contato img {
  grid-column: 2;
}

.contato li {
  padding-bottom: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contato li::before {
  content: '';
  display: inline-block;
  width: 2rem;
  height: 1rem;
  background-color: #FFBB55;
}

.bitcoin {
  background-color: #33FF44;
  padding: 0.3rem 1rem;
}

.copy {
  grid-column: 3/5;
  background-color: #FFBB55;
  padding: 0rem;
  font-family: monospace;
  font-weight: bold;
  letter-spacing: 0.2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.copy p {
  padding: 2rem;
}

@keyframes show  {
  from {
    opacity: 0;
    transform: translate3d(-3rem, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@media (max-width:750px) {

  body {
    grid-template-columns: 1fr;
  }

  .menu {
    margin: 0rem;
    grid-column: 1/5;
  }

  .grid-section {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .titulo {
    font-size: 4rem;
    padding-top: 2rem;
    line-height: initial;
  }

  .animais-imagens {
    grid-column: 1;
  }

  .faq {
    margin: initial;
  }

  .faq dl {
    grid-column: 1/3;
  }

  .contato img {
    grid-column: 1/4;
  }

  .contato ul{
    grid-column: 1/4;
  }

  .copy {
    grid-column: 1/5;
    margin-bottom: 0rem;
  }
}

@media (max-width: 600px) {
  .grid-section {
    grid-template-columns: 1fr;
  }

  .animais-imagens {
    grid-column: 1/4;
  }

  .animais-descricao {
    margin-top: -19rem;
  }
}