.animais-imagens {
  grid-column: 2/3;
}

.animais-imagens-thumb {
  display: flex;
  gap: 2rem;
  max-width: 22rem;
  overflow-x: hidden;
  margin: 0 auto;
  padding-top: 0.8rem;
}

.animais-imagens-thumb img {
  cursor: pointer;
  max-width: 6rem;
}

.animais-imagens-thumb img:hover {
  filter: brightness(50%);
  transition: .3s;
}


.animais-descricao {
  grid-column: 3;
}

.animais-descricao section {
  display: none;
}

.animais-descricao section.ativo {
  display: block;
}

.animais-descricao h2 {
  font-family: monospace;
  text-transform: uppercase;
  color: #E54;
  letter-spacing: 0.1rem;
  font-size: 1.8rem;
  font-weight: 900;
  padding-bottom: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.animais-descricao h2::before {
  content: '';
  background-color: #fb5;
  height: 1rem;
  width: 4rem;
  display: inline-block;
}

@media (max-width:800px) {
  .animais-imagens {
    grid-column: 1;
  }

  .animais-imagens-thumb {
    padding-bottom: 2rem;
  }

  .animais-descricao {
    grid-column: 1;
  }
}