.mapa {
  grid-column: 2;
  max-width: 30rem;
}

.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  padding: 0.8rem;
  border-radius: 0.2rem;
  border: 0.1rem solid #fb5;
  box-shadow: 0 0 0 0.3rem rgba(0, 0, 0, 0.6);
}

.contatos {
  grid-column: 3;
}

.contatos li {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  padding-bottom: 1.2rem;
}

.contatos li::before {
  content: '';
  background-color: #fb5;
  height: 1rem;
  width: 2.4rem;
  display: inline-block;
}

.btc {
  background-color: #3F4;
  padding: 0.4rem 0.8rem;
  font-weight: bold;
}

@media (max-width:800px) {
  .mapa {
    grid-column: 1/4;
    padding-bottom: 2rem;
  }

  .contatos {
    grid-column: 1/4;
  }
}