.mapa {
  grid-column: 2;
  max-width: 30rem;
}

.contatos {
  grid-column: 3;
}

.contatos li {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  padding-bottom: 1.2rem;
}

.contatos li::before {
  content: '';
  background-color: #fb5;
  height: 1rem;
  width: 2.4rem;
  display: inline-block;
}

@media (max-width:800px) {
  .mapa {
    grid-column: 1/4;
    padding-bottom: 2rem;
  }

  .contatos {
    grid-column: 1/4;
  }
}